{% extends "base.html" %}
{% block title %}Sign Up | CTFO Admin{% endblock %}

{% block content %}
<div class="center-vh">
  <div class="card p-4" style="width:360px">
    <h3 class="text-center mb-3" style="color:var(--neon)">Admin Sign-up</h3>
    <form method="post">
      <div class="mb-3">
        <input class="form-control" placeholder="Username" name="username" required>
      </div>
      <div class="mb-3">
        <input class="form-control" type="password" placeholder="Password" name="password" required>
      </div>
      <button class="neon-btn w-100 btn">Create Account</button>
    </form>
    <div class="mt-3 text-center">
      <a href="/login">Already have one? Login</a>
    </div>
  </div>
</div>
{% endblock %}